<div class="calendar-body__row team-first-row" [ngClass]="['team' + (counter + 1), 'teamColor' + ((counter  % 4)+1)]">
    <div class="calendar-body__column calendar-body__column--first-column">
        <div class="team-info-cell">
            <span class="team-info-cell__team-name">{{team.name}}</span>
            <div class="team-info-cell__wrapper">
                <div class="team-info-cell__number-people">{{team.members.length}}</div>
                <div class="team-info-cell__percent">
                    {{team.percentageOfAbsent[currentDate.getMonth()]}}%</div>
                <div class="team-info-cell__collapse"></div>
            </div>
        </div>
    </div>

    <div *ngFor="let day of monthDays" class="calendar-body__column  cell" [ngClass]="{
                        'weekend': day.isWeekend
                    }">
    </div>

    <div class="calendar-body__column calendar-body__column--sum-cell  cell"></div>
</div>

<div class="calendar-body__row" *ngFor="let member of team.members; index as memberCounter"
    [ngClass]="['team' + (counter + 1), 'teamColor' + ((counter  % 4)+1), memberCounter === (team.members.length - 1) ? 'team-last-row': '']">
    <div class="calendar-body__column calendar-body__column--first-column">{{member.name}}</div>
    <div *ngFor="let day of monthDays" class="calendar-body__column" [ngClass]="{
                                'weekend': day.isWeekend
                            }">
    </div>

    <div class="calendar-body__column calendar-body__column--sum-cell"></div>
</div>