<!-- * FIRST TEAM ROW -->
<div
  class="calendar-body__row team-first-row"
  [ngClass]="[
    'team' + (teamCounter + 1),
    'teamColor' + ((teamCounter % 4) + 1),
    isOpen ? '' : 'closed'
  ]"
>
  <div class="calendar-body__column calendar-body__column--first-column">
    <div class="team-info-cell">
      <span class="team-info-cell__team-name">{{ team.name }}</span>
      <div class="team-info-cell__wrapper">
        <div class="team-info-cell__number-people">
          {{ team.members.length }}
        </div>
        <div class="team-info-cell__percent">
          {{ team.percentageOfAbsent[currentDate.getMonth()] }}%
        </div>
        <div
          class="team-info-cell__spoiler"
          [ngClass]="{
            active: !isOpen
          }"
          (click)="toggleIsOpen()"
        ></div>
      </div>
    </div>
  </div>
  <div
    *ngFor="let day of monthDays"
    class="calendar-body__column cell"
    [ngClass]="{
      weekend: day.isWeekend
    }"
  ></div>
  <div class="calendar-body__column calendar-body__column--sum-cell cell"></div>
</div>

<!-- * USERS ROWS -->
<ng-template [ngIf]="isOpen">
  <app-user
    *ngFor="let member of team.members; index as memberCounter"
    [memberCounter]="memberCounter"
    [teamCounter]="teamCounter"
    [member]="member"
    [monthDays]="monthDays"
    [team]="team"
    [userVacations]="member.vacations"
  ></app-user>
</ng-template>
