@import "../shared-styles";

@mixin teamFirstRowColor($teamNumber, $teamColor) {
  &.teamColor#{$teamNumber} {
    border-left: 3px solid $teamColor;

    &.team-first-row {
      .calendar-body__column {
        background-color: rgba($teamColor, 0.1);
      }

      .team-info-cell {
        &__percent {
          background-color: $teamColor;
        }
      }
    }
  }
}

.calendar-body {
  &__row {
    @extend %table-row;

    &.team-first-row {
      &.closed {
        margin: 0 0 30px;
        border-bottom: 1px solid #d7d7d7;
      }
    }

    @include teamFirstRowColor(1, $purpleTeamColor);
    @include teamFirstRowColor(2, $blueTeamColor);
    @include teamFirstRowColor(3, $pinkTeamColor);
    @include teamFirstRowColor(4, $orangeTeamColor);
  }
  &__column {
    @extend %table-column;

    &--first-column {
      @extend %first-column;
    }

    &--sum-cell {
      @extend %sum-cell;
    }

    &.weekend {
      @extend %weekend;
    }
  }
}

.team-info-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__team-name {
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
  }

  &__number-people {
    position: relative;
    color: #949494;
    margin-right: 15px;
    padding-left: 15px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-60%);
      width: 12px;
      height: 12px;
      background-image: url(../../../assets/images/people.svg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  &__percent {
    font-size: 12px;
    line-height: 16px;
    padding: 0 5px;
    border-radius: 2px;
    color: #fff;
    margin-right: 20px;
  }

  &__spoiler {
    cursor: pointer;
    width: 15px;
    height: 10px;
    padding: 2px;
    background-image: url(../../../assets/images/spoiler-arrow.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: transform 0.1s ease;

    &.active {
      transform: rotate(180deg);
    }
  }
}
