$purpleTeamColor: #9b99ff;
$blueTeamColor: #7aafff;
$pinkTeamColor: #f99;
$orangeTeamColor: #ffa768;

@mixin teamColor($teamNumber, $teamColor) {
  &.teamColor#{$teamNumber} {
    border-left: 3px solid $teamColor;

    &.team-first-row {
      div.cell {
        background-color: rgba($teamColor, 0.1);
      }

      .weekend {
        background-color: rgba($teamColor, 0.1);
      }

      .sum-cell {
        background-color: rgba($teamColor, 0.1);
      }

      .team-info-cell {
        &__percent {
          background-color: $teamColor;
        }
      }
    }

    .paid-day {
      background-color: $teamColor;
    }

    .unpaid-day {
      color: $teamColor;
      border: 1px solid $teamColor;
      background-color: rgba($teamColor, 0.1);
    }
  }
}

.calendar-body {
  &__row {
    display: flex;
    border: 1px solid #d7d7d7;
    border-bottom: none;
    width: fit-content;
    margin: 0 auto;

    &.team-first-row {
      &.closed {
        margin: 0 0 30px;
        border-bottom: 1px solid #d7d7d7;
      }
    }

    &.team-last-row {
      margin: 0 0 30px;
      border-bottom: 1px solid #d7d7d7;
    }

    @include teamColor(1, $purpleTeamColor);
    @include teamColor(2, $blueTeamColor);
    @include teamColor(3, $pinkTeamColor);
    @include teamColor(4, $orangeTeamColor);
  }
  &__column {
    border-right: 1px solid #d7d7d7;
    min-width: 32px;
    height: 32px;

    &--first-column {
      min-width: 230px;
      text-align: start;
      font-weight: 400;
      font-size: 12px;
      padding: 7px 15px;
      border-bottom: none;
    }

    &--sum-cell {
      border: none;
      background-color: #f0f0f0;
    }

    &.weekend {
      background-color: #f0f0f0;
    }
  }
}

.team-info-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__team-name {
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
  }

  &__number-people {
    position: relative;
    color: #949494;
    margin-right: 15px;
    padding-left: 15px;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-60%);
      width: 12px;
      height: 12px;
      background-image: url(../../../assets/images/people.svg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  &__percent {
    font-size: 12px;
    line-height: 16px;
    padding: 0 5px;
    border-radius: 2px;
    color: #fff;
    margin-right: 20px;
  }

  &__spoiler {
    cursor: pointer;
    width: 15px;
    height: 10px;
    padding: 2px;
    background-image: url(../../../assets/images/spoiler-arrow.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: transform 0.1s ease;

    &.active {
      transform: rotate(180deg);
    }
  }
}
