.calendar-head {
  &__column {
    border: 1px solid #d7d7d7;
    padding: 10px 3px;
    height: auto;

    &--btn-cell {
      width: auto;
      border: none;
      padding: 0 15px 0 0;
      text-align: start;
      vertical-align: top;
      min-width: 220px;
    }

    &--sum-cell {
      vertical-align: top;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      background-color: #f3f3f3;
    }

    &.weekend {
      background-color: #f0f0f0;
    }
  }

  &__week-day {
    font-size: 12px;
    font-weight: 400;
    display: block;
    width: 26px;
    margin: 0 auto 5px;
    text-align: center;
  }

  &__month-day {
    font-size: 14px;
    font-weight: 600;
  }
}
