.paid-day,
.unpaid-day {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 28px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  background-color: #000;
}

.paid-day {
  color: white;
}
