* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

body {
  min-width: 1300px;
}

$purpleTeamColor: #9b99ff;
$blueTeamColor: #7aafff;
$pinkTeamColor: #f99;
$orangeTeamColor: #ffa768;

@mixin vacColor($teamNumber, $teamColor) {
  .teamColor#{$teamNumber} {
    div.paid-day {
      background-color: $teamColor;
    }

    div.unpaid-day {
      color: $teamColor;
      border: 1px solid $teamColor;
      background-color: rgba($teamColor, 0.1);
    }
  }
}

@include vacColor(1, $purpleTeamColor);
@include vacColor(2, $blueTeamColor);
@include vacColor(3, $pinkTeamColor);
@include vacColor(4, $orangeTeamColor);
