.calendar-table {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.calendar-head {
  width: fit-content;
  margin: 0 auto;
  &__row {
    display: flex;
  }
  &__column {
    border: 1px solid #d7d7d7;
    border-bottom: none;
    padding: 10px 3px;
    height: auto;
    width: 32px;
    text-align: center;

    &:not(:last-child) {
      border-right: none;
    }

    &--btn-cell {
      width: auto;
      border: none;
      padding: 0;
      margin-right: 7px;
      text-align: start;
      vertical-align: top;
      min-width: 230px;
    }

    &--sum-cell {
      vertical-align: top;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      background-color: #f3f3f3;
      width: 34px;
    }

    &.weekend {
      background-color: #f0f0f0;
    }
  }

  &__week-day {
    font-size: 12px;
    font-weight: 400;
    display: block;
    width: 26px;
    margin: 0 auto 5px;
    text-align: center;
  }

  &__month-day {
    font-size: 14px;
    font-weight: 600;
  }
}

.calendar-head.closed {
  .calendar-head__column {
    &:not(:first-child):before {
      display: block;
    }
  }
}

app-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.data-load-alert {
  color: #48ba46;
  width: fit-content;
  margin: 100px auto 0;
  font-size: 32px;
}


.calendar-head__add-vacation-button {
  cursor: pointer;
  position: relative;
  background-color: #48ba46;
  border: none;
  padding: 10px 15px 10px 40px;
  border-radius: 7px;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;

  &::before {
    display: block;
    position: absolute;
    content: "";
    left: 15px;
    top: 20px;
    width: 13px;
    height: 1px;
    background-color: rgb(255, 255, 255);
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    left: 21px;
    top: 14px;
    width: 1px;
    height: 13px;
    background-color: rgb(255, 255, 255);
  }

  &:hover {
    background-color: #2e992d;
  }

  &:focus {
    outline: none;
  }
}
