<div class="calendar-table">
  <!-- * CALENDAR HEAD -->
  <div
    class="calendar-head"
    [ngClass]="{
      closed: !departmentTeams
    }"
  >
    <div class="calendar-head__row">
      <div class="calendar-head__column calendar-head__column--btn-cell">
        <button class="calendar-head__add-vacation-button" (click)="onCreate()">Add Vacation</button>
      </div>

      <div
        *ngFor="let day of monthDays"
        class="calendar-head__column"
        [ngClass]="{
          weekend: day.isWeekend
        }"
      >
        <span class="calendar-head__week-day">{{ day.weekDay }}</span>
        <span class="calendar-head__month-day">{{ day.dayNumber }}</span>
      </div>

      <div class="calendar-head__column calendar-head__column--sum-cell">
        Sum
      </div>
    </div>
  </div>

  <!-- * CALENDAR BODY -->
  <div class="calendar-body" *ngIf="departmentTeams; else dataLoadAlert">
    <app-team
      *ngFor="let team of departmentTeams.teams; index as teamCounter"
      [teamCounter]="teamCounter"
      [team]="team"
      [monthDays]="monthDays"
      [currentDate]="currentTableDate"
    ></app-team>
  </div>

  <ng-template #dataLoadAlert>
    <p class="data-load-alert">Teams' data was not load!</p>
  </ng-template>
</div>
